
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(222,242,143,1) 54%, rgba(148,227,233,1) 89%);
}
p{
    font-weight:bold;
    color:rebeccapurple;
}
h1{
    color:rebeccapurple;
    text-align:center;
    font-style: italic;
}
h2{
    color:rebeccapurple;
     font-style: italic;
}
img{
   border:5px solid rgb(123, 222, 236);
   border-radius: 35px;
}
ul li{
    font-weight:bold;
    color:rebeccapurple;
    font-style: italic;
}
blockquote{
    color:rebeccapurple;
}
details summary{
color: rgba(148,227,233,1) 89%;
}

